// библиотеки 
@import "/default/library"
@import "../../node_modules/nib"
@import "../../node_modules/rupture/rupture"
// // @import "../../node_modules/axis/axis"

// //  part

@import "/default/play"
@import "/part/header/header"
@import "/part/main/*"
@import "/part/footer/*"

 
